<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jondayley.githubclone</string>
	<key>connections</key>
	<dict>
		<key>103886B5-72ED-47D0-B9D8-2BA4950836FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A2C7A9-08B6-4F60-A037-7D9B73B9C221</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>79E0F9D9-A0FA-4E06-B5FB-D274C74B8654</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B547FCD-120C-48BF-A4C3-CB9F0D3699AC</key>
		<array/>
		<key>53984B6B-7716-4367-BB1A-1C0D7D06DA22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5CD0F6B-A7B7-4B1D-AC69-EFE8F98A22BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C6CD09A-773F-4F0B-846F-0BE844DDB130</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B547FCD-120C-48BF-A4C3-CB9F0D3699AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85A2A745-E7E8-44D3-BDBC-2EECAE67A6E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>103886B5-72ED-47D0-B9D8-2BA4950836FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A898622A-B01D-4930-ADD7-EC522D92B3D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBB2E534-EA04-4A9C-BA12-C5D80D1B33C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5CD0F6B-A7B7-4B1D-AC69-EFE8F98A22BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E48137FA-BAC8-428D-BDA1-6151023308BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBB2E534-EA04-4A9C-BA12-C5D80D1B33C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85A2A745-E7E8-44D3-BDBC-2EECAE67A6E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E48137FA-BAC8-428D-BDA1-6151023308BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C6CD09A-773F-4F0B-846F-0BE844DDB130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Clones repos from Github (pretty good at it, too)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Clone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/getToken.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9A2C7A9-08B6-4F60-A037-7D9B73B9C221</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/validateInputs.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBB2E534-EA04-4A9C-BA12-C5D80D1B33C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clone</string>
				<key>subtext</key>
				<string>User: {var:githubUsername}</string>
				<key>text</key>
				<string>Clone Github repository</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A898622A-B01D-4930-ADD7-EC522D92B3D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>All clear</string>
						<key>uid</key>
						<string>79E0F9D9-A0FA-4E06-B5FB-D274C74B8654</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Inputs missing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>103886B5-72ED-47D0-B9D8-2BA4950836FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>85A2A745-E7E8-44D3-BDBC-2EECAE67A6E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>9181bb23-171d-4d30-8ea5-02b4a67fdfe5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>53984B6B-7716-4367-BB1A-1C0D7D06DA22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>githubToken</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E48137FA-BAC8-428D-BDA1-6151023308BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C5CD0F6B-A7B7-4B1D-AC69-EFE8F98A22BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/cloneRepo.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B547FCD-120C-48BF-A4C3-CB9F0D3699AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>User: {var:githubUsername}</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/getJSON.sh</string>
				<key>subtext</key>
				<string>Getting repos...</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C6CD09A-773F-4F0B-846F-0BE844DDB130</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Lightning fast and super secure `git clone` for Github. :fast_forward: Lists your public and private repositories for cloning into your Repos directory, wherever it happens to be. :file_folder:

![](https://raw.githubusercontent.com/cadnza/Alfred.alfredpreferences/master/workflows/user.workflow.962B6B49-7B12-4A17-A833-D84ED9C13D7B/demo/demo.gif)

# Configuration

1. This workflow lists private repositories as well as public, so first thing you need is a [personal access token](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token). :key: Be sure to give it [full access to the repo scope](https://docs.github.com/en/developers/apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes).
2. Once you have your access token, save it in a [keychain](https://support.apple.com/guide/mac-help/use-keychains-to-store-passwords-mchlf375f392/mac). There are a couple of ways to do this:
    - **Via [Keychain Access](https://support.apple.com/guide/keychain-access/what-is-keychain-access-kyca1083/mac)** :computer:
        1. Open Keychain Access.
        2. Optionally (but recommended), create a new keychain with _File &gt; New Keychain..._. Give your keychain a nice name and save it in the default location, i.e. `~/Library/Keychains/`.
        3. Create a new password item with _File &gt; New Password Item..._. Paste your personal access token in the _Password_ field, and take note of the _Keychain Item Name_ field.
    - **Via [`security`](https://ss64.com/osx/security.html)** :pager:
        1. Run the following commands, replacing variables as appropriate:
           `security create-keychain`
           `security add-internet-password -s serviceNameHere -a accountNameHere keychainNameHere`
        - The account name is of little consequence; it's just a convenient identifier to help you find the key.
        - The service name _is_ of consequence; that's what Github Clone uses to find your personal access token. By default, Github Clone looks for a service called `https://api.github.com/`, but that's configurable (keep reading).
3. Open the workflow in Alfred and set the following [Workflow Environment Variables](https://www.alfredapp.com/help/workflows/advanced/variables/#environment): :pencil:
    - `githubUsername`: The username associated with your Github account.
    - `keychain`: The name of your keychain _file_. If you're unsure, check in the location where you created the keychain.
        - If you saved to the default location or created your keychain through `security`, your keychain will be in `~/Library/Keychains/`.
        - Note that you want the filename, not the path.
    - `openOnClone`: Set this variable to `1` if you want repositories to open in Finder on clone. Any other value will clone without opening.
    - `reposDirectory`: Where you want to clone repos.
    - `service`: The service name of your personal access token in the keychain. If you don't remember, open Keychain Access and find the item containing your personal access token for details.
    - `useSSH`: Set this variable to `1` to clone repos via [SSH](https://github.com/git-guides/git-clone#git-clone-with-ssh). Any other value clones repos via default HTTPS using your personal access token.
4. And you're ready to go! :fist:

# So how does it work?

Here's how Github Clone for Alfred is _lightning fast_ and _super secure_: :muscle:

## Lightning Fast

Querying your repos and parsing the returned JSON takes time, so Github Clone creates an index and updates it passively as you use the workflow. The reindexing routine only runs when you call Github Clone from Alfred, and it's inactive otherwise, so you'll never see it eating resources or making random network calls. :satellite:

## Super Secure

Your Github personal access token is basically another password to your Github account. By accessing it through [`security`](https://ss64.com/osx/security.html), Github Clone never exposes it as plain text. And Github Clone's index is fully encrypted with [`openssl`](https://www.openssl.org/)'s [Triple DES](https://en.wikipedia.org/wiki/Triple_DES) implementation using your Github personal access token, so it's off-limits outside Github Clone. :lock:

# That's all?

Yep. Happy cloning! :floppy_disk:

# Versions

## v1.0.0

-   First release</string>
	<key>uidata</key>
	<dict>
		<key>103886B5-72ED-47D0-B9D8-2BA4950836FE</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>3B547FCD-120C-48BF-A4C3-CB9F0D3699AC</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>53984B6B-7716-4367-BB1A-1C0D7D06DA22</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7C6CD09A-773F-4F0B-846F-0BE844DDB130</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>85A2A745-E7E8-44D3-BDBC-2EECAE67A6E2</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>A898622A-B01D-4930-ADD7-EC522D92B3D9</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>C5CD0F6B-A7B7-4B1D-AC69-EFE8F98A22BF</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>CBB2E534-EA04-4A9C-BA12-C5D80D1B33C5</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>E48137FA-BAC8-428D-BDA1-6151023308BC</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>F9A2C7A9-08B6-4F60-A037-7D9B73B9C221</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>githubUsername</key>
		<string>cadnza</string>
		<key>keychain</key>
		<string>dev.keychain</string>
		<key>openOnClone</key>
		<string>1</string>
		<key>reposDirectory</key>
		<string>/Users/cadnza/Repos</string>
		<key>service</key>
		<string>https://api.github.com/</string>
		<key>useSSH</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>githubUsername</string>
		<string>keychain</string>
		<string>service</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
