<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jondayley.githubclone</string>
	<key>connections</key>
	<dict>
		<key>103886B5-72ED-47D0-B9D8-2BA4950836FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A2C7A9-08B6-4F60-A037-7D9B73B9C221</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>79E0F9D9-A0FA-4E06-B5FB-D274C74B8654</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B547FCD-120C-48BF-A4C3-CB9F0D3699AC</key>
		<array/>
		<key>53984B6B-7716-4367-BB1A-1C0D7D06DA22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5CD0F6B-A7B7-4B1D-AC69-EFE8F98A22BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C6CD09A-773F-4F0B-846F-0BE844DDB130</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B547FCD-120C-48BF-A4C3-CB9F0D3699AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85A2A745-E7E8-44D3-BDBC-2EECAE67A6E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>103886B5-72ED-47D0-B9D8-2BA4950836FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A898622A-B01D-4930-ADD7-EC522D92B3D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBB2E534-EA04-4A9C-BA12-C5D80D1B33C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5CD0F6B-A7B7-4B1D-AC69-EFE8F98A22BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E48137FA-BAC8-428D-BDA1-6151023308BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBB2E534-EA04-4A9C-BA12-C5D80D1B33C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85A2A745-E7E8-44D3-BDBC-2EECAE67A6E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E48137FA-BAC8-428D-BDA1-6151023308BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C6CD09A-773F-4F0B-846F-0BE844DDB130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Clones repos from Github</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Clone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>getToken.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9A2C7A9-08B6-4F60-A037-7D9B73B9C221</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>validateInputs.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBB2E534-EA04-4A9C-BA12-C5D80D1B33C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clone</string>
				<key>subtext</key>
				<string>User: {var:githubUsername}</string>
				<key>text</key>
				<string>Clone Github repository</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A898622A-B01D-4930-ADD7-EC522D92B3D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>All clear</string>
						<key>uid</key>
						<string>79E0F9D9-A0FA-4E06-B5FB-D274C74B8654</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Inputs missing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>103886B5-72ED-47D0-B9D8-2BA4950836FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>85A2A745-E7E8-44D3-BDBC-2EECAE67A6E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>9181bb23-171d-4d30-8ea5-02b4a67fdfe5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>53984B6B-7716-4367-BB1A-1C0D7D06DA22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>githubToken</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E48137FA-BAC8-428D-BDA1-6151023308BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C5CD0F6B-A7B7-4B1D-AC69-EFE8F98A22BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>cloneRepo.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B547FCD-120C-48BF-A4C3-CB9F0D3699AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>User: {var:githubUsername}</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>listRepos.sh</string>
				<key>subtext</key>
				<string>Getting repos...</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C6CD09A-773F-4F0B-846F-0BE844DDB130</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>103886B5-72ED-47D0-B9D8-2BA4950836FE</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>3B547FCD-120C-48BF-A4C3-CB9F0D3699AC</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>53984B6B-7716-4367-BB1A-1C0D7D06DA22</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7C6CD09A-773F-4F0B-846F-0BE844DDB130</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>85A2A745-E7E8-44D3-BDBC-2EECAE67A6E2</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>A898622A-B01D-4930-ADD7-EC522D92B3D9</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>C5CD0F6B-A7B7-4B1D-AC69-EFE8F98A22BF</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>CBB2E534-EA04-4A9C-BA12-C5D80D1B33C5</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>E48137FA-BAC8-428D-BDA1-6151023308BC</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>F9A2C7A9-08B6-4F60-A037-7D9B73B9C221</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>githubUsername</key>
		<string>cadnza</string>
		<key>keychain</key>
		<string>dev.keychain</string>
		<key>reposDirectory</key>
		<string>/Users/cadnza/Repos</string>
		<key>service</key>
		<string>https://api.github.com/</string>
		<key>useSSH</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>githubUsername</string>
		<string>keychain</string>
		<string>service</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
