<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cadnza.alfredOpenRepo</string>
	<key>connections</key>
	<dict>
		<key>3A8CE97A-CDFC-4FC7-B14C-B545C7E28678</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52D8A25D-EECE-4CD9-BE57-B0600D53FE5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A5B0A69-943B-443A-84A2-6A069DAC74BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52D8A25D-EECE-4CD9-BE57-B0600D53FE5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45EABA07-AE80-4062-8A3E-D025EAEB35B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BB39F00-618B-4AE1-8CFB-78F9BC1B56B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7492476F-E800-4942-B9BF-469CDE066EB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A8CE97A-CDFC-4FC7-B14C-B545C7E28678</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FC8447AA-8C0B-47A6-A030-ED51499E6016</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45EABA07-AE80-4062-8A3E-D025EAEB35B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9587F691-4F03-4681-8E6A-44E8CFB54D4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C591B63-703B-4CD4-8C38-6DCDBF6C0AB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9E2CEB4-2BE0-49A1-90CE-F26BAABA8A35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBE331B8-3E3E-46D9-8E4D-269D4E13C10D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Opens a repo in a given editor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Repo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>[ -d common ] || ln -s "$(realpath ../common)" .
./common/link.sh 5BB39F00-618B-4AE1-8CFB-78F9BC1B56B4.png "/Applications/Visual Studio Code.app/Contents/Resources/Code.icns"
./options.py "$REPOS_DIRECTORY" code</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:REPOS_DIRECTORY}</string>
				<key>title</key>
				<string>{var:PLACEHOLDER_SUBTEXT_PREFIX}Visual Studio Code{var:PLACEHOLDER_SUBTEXT_POSTFIX}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5BB39F00-618B-4AE1-8CFB-78F9BC1B56B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>./options.py "$repo" "$id_editor"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>52D8A25D-EECE-4CD9-BE57-B0600D53FE5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:repoName}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>{var:ALFRED_REPO_NAME}</string>
						<key>outputlabel</key>
						<string>alfred</string>
						<key>uid</key>
						<string>FC8447AA-8C0B-47A6-A030-ED51499E6016</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no alfred</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3A8CE97A-CDFC-4FC7-B14C-B545C7E28678</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./open.py "$id_editor" "$repo"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45EABA07-AE80-4062-8A3E-D025EAEB35B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>insiders</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>[ -d common ] || ln -s "$(realpath ../common)" .
./common/link.sh EBE331B8-3E3E-46D9-8E4D-269D4E13C10D.png "/System/Volumes/Data/Applications/Visual Studio Code - Insiders.app/Contents/Resources/Code - Insiders.icns"
./options.py "$REPOS_DIRECTORY" insiders</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:REPOS_DIRECTORY}</string>
				<key>title</key>
				<string>{var:PLACEHOLDER_SUBTEXT_PREFIX}Visual Studio Code - Insiders{var:PLACEHOLDER_SUBTEXT_POSTFIX}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBE331B8-3E3E-46D9-8E4D-269D4E13C10D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zed</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>[ -d common ] || ln -s "$(realpath ../common)" .
./common/link.sh A9E2CEB4-2BE0-49A1-90CE-F26BAABA8A35.png "/System/Volumes/Data/Applications/Zed.app/Contents/Resources/Zed.icns"
./options.py "$REPOS_DIRECTORY" zed</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:REPOS_DIRECTORY}</string>
				<key>title</key>
				<string>{var:PLACEHOLDER_SUBTEXT_PREFIX}Zed{var:PLACEHOLDER_SUBTEXT_POSTFIX}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A9E2CEB4-2BE0-49A1-90CE-F26BAABA8A35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>[ -d common ] || ln -s "$(realpath ../common)" .
./common/link.sh 9C591B63-703B-4CD4-8C38-6DCDBF6C0AB7.png "/Applications/Positron.app/Contents/Resources/Positron.icns"
./options.py "$REPOS_DIRECTORY" positron</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:REPOS_DIRECTORY}</string>
				<key>title</key>
				<string>{var:PLACEHOLDER_SUBTEXT_PREFIX}Positron{var:PLACEHOLDER_SUBTEXT_POSTFIX}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C591B63-703B-4CD4-8C38-6DCDBF6C0AB7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>[ -d common ] || ln -s "$(realpath ../common)" .
./common/link.sh 9587F691-4F03-4681-8E6A-44E8CFB54D4E.png "/Applications/Xcode.app/Contents/Resources/Xcode.icns"
./options.py "$REPOS_DIRECTORY" xcode</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:REPOS_DIRECTORY}</string>
				<key>title</key>
				<string>{var:PLACEHOLDER_SUBTEXT_PREFIX}Xcode{var:PLACEHOLDER_SUBTEXT_POSTFIX}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9587F691-4F03-4681-8E6A-44E8CFB54D4E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>[ -d common ] || ln -s "$(realpath ../common)" .
./common/link.sh 4A5B0A69-943B-443A-84A2-6A069DAC74BA.png "/Applications/RStudio.app/Contents/Resources/RStudio.icns"
./options.py "$REPOS_DIRECTORY" rstudio</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:REPOS_DIRECTORY}</string>
				<key>title</key>
				<string>{var:PLACEHOLDER_SUBTEXT_PREFIX}RStudio{var:PLACEHOLDER_SUBTEXT_POSTFIX}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4A5B0A69-943B-443A-84A2-6A069DAC74BA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3A8CE97A-CDFC-4FC7-B14C-B545C7E28678</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>45EABA07-AE80-4062-8A3E-D025EAEB35B5</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>4A5B0A69-943B-443A-84A2-6A069DAC74BA</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>52D8A25D-EECE-4CD9-BE57-B0600D53FE5C</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>5BB39F00-618B-4AE1-8CFB-78F9BC1B56B4</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>7492476F-E800-4942-B9BF-469CDE066EB7</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>9587F691-4F03-4681-8E6A-44E8CFB54D4E</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>9C591B63-703B-4CD4-8C38-6DCDBF6C0AB7</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>A9E2CEB4-2BE0-49A1-90CE-F26BAABA8A35</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>EBE331B8-3E3E-46D9-8E4D-269D4E13C10D</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>Directory</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>A directory holding code repos</string>
			<key>label</key>
			<string>Repos directory</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>REPOS_DIRECTORY</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>ALFRED_REPO_NAME</key>
		<string>Alfred.alfredpreferences</string>
		<key>PLACEHOLDER_SUBTEXT_POSTFIX</key>
		<string></string>
		<key>PLACEHOLDER_SUBTEXT_PREFIX</key>
		<string>Open in </string>
		<key>PLEASE_WAIT_SUBTEXT</key>
		<string>Getting repos...</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
