<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cadnza.alfredOpenRepo</string>
	<key>connections</key>
	<dict>
		<key>3A8CE97A-CDFC-4FC7-B14C-B545C7E28678</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52D8A25D-EECE-4CD9-BE57-B0600D53FE5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52D8A25D-EECE-4CD9-BE57-B0600D53FE5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45EABA07-AE80-4062-8A3E-D025EAEB35B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BB39F00-618B-4AE1-8CFB-78F9BC1B56B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7492476F-E800-4942-B9BF-469CDE066EB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A8CE97A-CDFC-4FC7-B14C-B545C7E28678</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FC8447AA-8C0B-47A6-A030-ED51499E6016</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45EABA07-AE80-4062-8A3E-D025EAEB35B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Opens a repo in a given editor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Repo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>./options.py "$repo" "$id_editor"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>52D8A25D-EECE-4CD9-BE57-B0600D53FE5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:PLEASE_WAIT_SUBTEXT}</string>
				<key>script</key>
				<string>[ -d common ] || ln -s "$(realpath ../common)" .
./common/link.sh 5BB39F00-618B-4AE1-8CFB-78F9BC1B56B4.png "/Applications/Visual Studio Code.app/Contents/Resources/Code.icns"
./options.py "$REPOS_DIRECTORY" code</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:REPOS_DIRECTORY}</string>
				<key>title</key>
				<string>{var:PLACEHOLDER_SUBTEXT_PREFIX}Visual Studio Code{var:PLACEHOLDER_SUBTEXT_POSTFIX}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5BB39F00-618B-4AE1-8CFB-78F9BC1B56B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:repo_modifiers}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>(?&lt;![A-Za-z])alfred(?![A-Za-z])</string>
						<key>outputlabel</key>
						<string>alfred</string>
						<key>uid</key>
						<string>FC8447AA-8C0B-47A6-A030-ED51499E6016</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no alfred</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7492476F-E800-4942-B9BF-469CDE066EB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3A8CE97A-CDFC-4FC7-B14C-B545C7E28678</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./open.py "$id_editor" "$repo_modifiers" "$repo"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45EABA07-AE80-4062-8A3E-D025EAEB35B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3A8CE97A-CDFC-4FC7-B14C-B545C7E28678</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>45EABA07-AE80-4062-8A3E-D025EAEB35B5</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>52D8A25D-EECE-4CD9-BE57-B0600D53FE5C</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>5BB39F00-618B-4AE1-8CFB-78F9BC1B56B4</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>7492476F-E800-4942-B9BF-469CDE066EB7</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>Directory</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>A directory holding code repos</string>
			<key>label</key>
			<string>Repos directory</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>REPOS_DIRECTORY</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>PLACEHOLDER_SUBTEXT_POSTFIX</key>
		<string></string>
		<key>PLACEHOLDER_SUBTEXT_PREFIX</key>
		<string>Open in </string>
		<key>PLEASE_WAIT_SUBTEXT</key>
		<string>Getting repos...</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
