<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jondayley.alfredRestartDictation</string>
	<key>connections</key>
	<dict>
		<key>22499A58-3450-4416-A968-BEB9711B9233</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>261F9451-9E21-4FD4-8D50-5B1EFBF805DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ED8A790-E569-45BB-9455-26851A02DD59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22499A58-3450-4416-A968-BEB9711B9233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Restarts the dictation service</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Restart Dictation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dictation</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Restart Dictation</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2ED8A790-E569-45BB-9455-26851A02DD59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Dictation is restarting.</string>
				<key>title</key>
				<string>Done!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>261F9451-9E21-4FD4-8D50-5B1EFBF805DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>killall -9 DictationIM com.apple.SpeechRecognitionCore.speechrecognitiond com.apple.SpeechRecognitionCore.brokerd</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>22499A58-3450-4416-A968-BEB9711B9233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Wrapper to reset the dictation service since it can be buggy.

# Versions

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>22499A58-3450-4416-A968-BEB9711B9233</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>261F9451-9E21-4FD4-8D50-5B1EFBF805DC</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>2ED8A790-E569-45BB-9455-26851A02DD59</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
