<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>32C11817-6FC0-4801-8D37-51C48B0A3747</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5168C4DC-BBDA-45DC-BEAA-B8022A98927F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5168C4DC-BBDA-45DC-BEAA-B8022A98927F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>235C11C1-CAD7-4B67-B22F-EF3C7E17E80C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Resets the Launchpad layout</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reset Launchpad</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>launchpad</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Reset Launchpad layout</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>32C11817-6FC0-4801-8D37-51C48B0A3747</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>defaults write com.apple.dock ResetLaunchPad -bool true
killall Dock</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5168C4DC-BBDA-45DC-BEAA-B8022A98927F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The Launchpad layout has been reset.</string>
				<key>title</key>
				<string>Done!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>235C11C1-CAD7-4B67-B22F-EF3C7E17E80C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>235C11C1-CAD7-4B67-B22F-EF3C7E17E80C</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>32C11817-6FC0-4801-8D37-51C48B0A3747</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>5168C4DC-BBDA-45DC-BEAA-B8022A98927F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
