<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cadnza.alfredManPageOpener</string>
	<key>connections</key>
	<dict>
		<key>07652596-3418-4F4A-97A5-65C3616842EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E08745D2-B6DD-4B76-B1DE-81301EB34856</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10BEEBE6-4517-4D60-A9AC-B9969DEFB2D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C565C17-5A62-4018-8FF1-29F8409A85CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24705789-16A1-42BF-87F2-329DF904EFA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07652596-3418-4F4A-97A5-65C3616842EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C565C17-5A62-4018-8FF1-29F8409A85CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C15A5E6F-6A34-4D3F-B6FA-F84C90E83893</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C7E8343-087F-462F-ABD9-B128014092F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F321C0B9-9945-402A-A28E-550AFF536F21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F321C0B9-9945-402A-A28E-550AFF536F21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE1B9A09-4453-4D70-937D-8A93E30739DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0CABA029-48FF-41AD-93BB-5D751EB33655</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9FBE6FC-268C-4DB1-A816-29D99717D45C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B8677304-0025-412A-A9F6-CEC599E0E064</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F53D492B-30D6-4812-B7D1-01448898DE8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C7E8343-087F-462F-ABD9-B128014092F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Opens man pages in Terminal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Man Page Opener</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>07652596-3418-4F4A-97A5-65C3616842EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>1</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>man</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading man pages...</string>
				<key>script</key>
				<string>cat test.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.sh</string>
				<key>subtext</key>
				<string>View man page in Terminal</string>
				<key>title</key>
				<string>Open man page</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24705789-16A1-42BF-87F2-329DF904EFA8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "x-man-page://$1" -a Terminal</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E08745D2-B6DD-4B76-B1DE-81301EB34856</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The old cache will still work in the meantime.</string>
				<key>title</key>
				<string>Recaching man pages</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CE1B9A09-4453-4D70-937D-8A93E30739DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>recache.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C7E8343-087F-462F-ABD9-B128014092F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>recache man</string>
				<key>subtext</key>
				<string>Takes some time</string>
				<key>text</key>
				<string>Recache man pages</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F53D492B-30D6-4812-B7D1-01448898DE8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>Started recache</string>
						<key>uid</key>
						<string>0CABA029-48FF-41AD-93BB-5D751EB33655</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>Recache already in progress</string>
						<key>uid</key>
						<string>B8677304-0025-412A-A9F6-CEC599E0E064</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F321C0B9-9945-402A-A28E-550AFF536F21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The man pages are already being recached.</string>
				<key>title</key>
				<string>Recache already in progress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B9FBE6FC-268C-4DB1-A816-29D99717D45C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>%FT%T%z</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/date-manipulation/time.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>3C565C17-5A62-4018-8FF1-29F8409A85CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Man pages cached</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C15A5E6F-6A34-4D3F-B6FA-F84C90E83893</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>com.cadnza.alfredManPageOpener.doneCaching</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>10BEEBE6-4517-4D60-A9AC-B9969DEFB2D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Light tool for opening man pages in Terminal. Needs recaching every so often; run `recache man` to perform a recache in the background.

# Dependencies

- Terminal

# Versions

## v1.0.1

- Fixed a couple of bugs

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>07652596-3418-4F4A-97A5-65C3616842EB</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>10BEEBE6-4517-4D60-A9AC-B9969DEFB2D5</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>24705789-16A1-42BF-87F2-329DF904EFA8</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>3C565C17-5A62-4018-8FF1-29F8409A85CF</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>6C7E8343-087F-462F-ABD9-B128014092F2</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>B9FBE6FC-268C-4DB1-A816-29D99717D45C</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>C15A5E6F-6A34-4D3F-B6FA-F84C90E83893</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>CE1B9A09-4453-4D70-937D-8A93E30739DE</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E08745D2-B6DD-4B76-B1DE-81301EB34856</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>F321C0B9-9945-402A-A28E-550AFF536F21</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>F53D492B-30D6-4812-B7D1-01448898DE8C</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
