<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jondayley.alfredLegoCategorizer</string>
	<key>connections</key>
	<dict>
		<key>2B5F291C-1B5A-4C58-B97F-56440FF2CF60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A6FBC1-91E8-4C5C-A52E-B532864826C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>00C66DC9-530B-4DEC-A4F2-2A57E7AED32C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A84CEA46-B446-4257-83AC-F5459E1F4650</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B5F291C-1B5A-4C58-B97F-56440FF2CF60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Categorizes LEGO parts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LEGO categorizer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C0A6FBC1-91E8-4C5C-A52E-B532864826C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>part</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Sifting…</string>
				<key>script</key>
				<string>source script.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type a part number or search term to begin!</string>
				<key>title</key>
				<string>LEGO Part Finder</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A84CEA46-B446-4257-83AC-F5459E1F4650</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>noR</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>00C66DC9-530B-4DEC-A4F2-2A57E7AED32C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No R installation</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2B5F291C-1B5A-4C58-B97F-56440FF2CF60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Finds Lego parts! Enter a name or number and it goes to work.

# Dependencies

- BrickLink Studio
- R

# Versions

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>2B5F291C-1B5A-4C58-B97F-56440FF2CF60</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>A84CEA46-B446-4257-83AC-F5459E1F4650</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C0A6FBC1-91E8-4C5C-A52E-B532864826C1</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
