<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>18B8594E-3418-4015-9874-11B243C48EC8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wkflw</string>
			<key>text</key>
			<string>Search Alfred workflows for '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}+site%3Ahttp%3A%2F%2Fwww.packal.org%2F&amp;t=osx&amp;ia=web</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>325D47B0-428B-4E47-AB4E-BEA3C05FFDCD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>church</string>
			<key>text</key>
			<string>Search churchofjesuschrist.org for '{query}'</string>
			<key>url</key>
			<string>https://www.churchofjesuschrist.org/search?lang=eng&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>34C9DB99-3F76-459E-94BF-F0841E4A0804</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>span</string>
			<key>text</key>
			<string>Show '{query}' in SpanishDict</string>
			<key>url</key>
			<string>http://www.spanishdict.com/translate/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5B508A4E-5799-43E6-9F9A-6B15E5312768</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wikt</string>
			<key>text</key>
			<string>Search Wiktionary for '{query}'</string>
			<key>url</key>
			<string>https://en.wiktionary.org/wiki/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6C265F05-C8D6-4A1D-BC81-DFFB0CC9C9FE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>udemy</string>
			<key>text</key>
			<string>Search Udemy for courses on '{query}'</string>
			<key>url</key>
			<string>https://www.udemy.com/courses/search/?src=ukw&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>70D00438-E497-4558-8D44-B8E734091670</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>asl</string>
			<key>text</key>
			<string>Search Handspeak for '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q=\{query}+site%3Awww.handspeak.com%2Fword%2F&amp;t=osx&amp;ia=web</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7E3AA710-D508-45E9-97EE-58AF3EB452E5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>Search for desktop images of '{query}'</string>
			<key>url</key>
			<string>https://www.google.com/search?&amp;hl=en&amp;tbs=isz%3Alt%2Cislt%3A4mp%2Ciar%3Aw&amp;tbm=isch&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8B16DA2C-909D-40C5-A805-0398A7F5A0F6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stack</string>
			<key>text</key>
			<string>Search Stack Overflow for '{query}'</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9754EDD0-B275-4A22-BDBA-4EAE06220796</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sign</string>
			<key>spaces</key>
			<string>-</string>
			<key>text</key>
			<string>Search SignASL for '{query}'</string>
			<key>url</key>
			<string>https://www.signasl.org/sign/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A29EECF0-EA15-43BC-A444-42DCFBE58BE1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yan</string>
			<key>text</key>
			<string>Яндекс Переводчик - Перевести {query} на русский</string>
			<key>url</key>
			<string>https://translate.yandex.ru/?lang=en-ru&amp;text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AC64DCCB-C281-4459-AD8A-19C1EE7AB368</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>uni</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Show Unicode conversions for '{query}'</string>
			<key>url</key>
			<string>https://qaz.wtf/u/convert.cgi?text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B0F9A6E9-9A67-48CD-A3BB-CE8AA0912289</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>forvo</string>
			<key>text</key>
			<string>Search Forvo for '{query}' in Russian</string>
			<key>url</key>
			<string>https://forvo.com/search/{query}/ru/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B8033218-F5FB-49BC-B69A-3455E16625F6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kindle</string>
			<key>text</key>
			<string>Search the Kindle library for '{query}'</string>
			<key>url</key>
			<string>https://smile.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Ddigital-text&amp;field-keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C5578AAD-096D-4FC4-ADD1-13D786DCA2CB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>audible</string>
			<key>text</key>
			<string>Search the Audible library for '{query}'</string>
			<key>url</key>
			<string>https://www.audible.com/search?keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CEAC8C88-BF5F-4A80-9F43-C947EA46B249</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sav</string>
			<key>text</key>
			<string>Search SigningSavvy for '{query}'</string>
			<key>url</key>
			<string>https://www.signingsavvy.com/sign/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D0CE48F2-F23F-4623-87CA-6D1AC4E29570</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dpro</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Dorico Help for '{query}'</string>
			<key>url</key>
			<string>https://steinberg.help/dorico/v3/en/search.html?searchQuery={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D1CA5D6C-ACEC-46C6-9A3F-FADE52920B7E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rhyme</string>
			<key>text</key>
			<string>Find rhymes for '{query}'</string>
			<key>url</key>
			<string>http://www.rhymer.com/RhymingDictionary/{query}.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D2F01B95-85A2-4207-AB31-E6B0BD796753</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>br</string>
			<key>text</key>
			<string>Search Brave for {query}</string>
			<key>url</key>
			<string>https://search.brave.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E1ABA243-92CA-4816-BB70-B3F84C71EAEE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>shtk</string>
			<key>text</key>
			<string>Search Project Schtooka for recordings of {query} (Русский)</string>
			<key>url</key>
			<string>http://shtooka.net/search.php?str={query}&amp;lang=rus</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F0C846CC-AF7F-46F1-B59B-BBFF4B424C59</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hinat</string>
			<key>text</key>
			<string>Search HiNative for {query}</string>
			<key>url</key>
			<string>https://hinative.com/search/questions?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FA29047C-58D1-40F5-ACB9-B40B392A855F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>images</string>
			<key>text</key>
			<string>DuckDuckGo for images of '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;iax=images&amp;ia=images</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
