<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cadnza.alfredOpenInXcode</string>
	<key>connections</key>
	<dict>
		<key>1CDBB03B-C85D-411E-B32A-47C82C161A9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8E4D885-FFC3-45DD-8415-7DD39509E308</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Lists repos and opens selection in Xcode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Xcode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting repos…</string>
				<key>script</key>
				<string>newHome=$(echo $HOME | sed 's/\//\\\//g')
ReposDirectory=$(echo $ReposDirectory | sed 's/^\~/'$newHome'/')
source script.sh $ReposDirectory</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script.sh</string>
				<key>subtext</key>
				<string>{var:ReposDirectory}</string>
				<key>title</key>
				<string>Xcode project</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1CDBB03B-C85D-411E-B32A-47C82C161A9B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a Xcode $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B8E4D885-FFC3-45DD-8415-7DD39509E308</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Xcode project opener.

# Dependencies

- Xcode
- A directory of repos (or a place where your Xcode projects live)

# Versions

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>1CDBB03B-C85D-411E-B32A-47C82C161A9B</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>B8E4D885-FFC3-45DD-8415-7DD39509E308</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>ReposDirectory</key>
		<string>~/Repos</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
