<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cadnza.alfredOpenInPositron</string>
	<key>connections</key>
	<dict>
		<key>484DFE33-2719-466A-9343-89FEA0206698</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</key>
		<array/>
		<key>D0BB803B-81E9-4702-9DED-DB8C9547D366</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>484DFE33-2719-466A-9343-89FEA0206698</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Lists repos and opens selection in Positron</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Positron</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>"$codeexec" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>positron</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting repos…</string>
				<key>script</key>
				<string>./script.sh "$ReposDirectory"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:ReposDirectory}</string>
				<key>title</key>
				<string>Positron</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D0BB803B-81E9-4702-9DED-DB8C9547D366</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>codeexec</key>
					<string>/Applications/Positron.app/Contents/Resources/app/bin/code</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>484DFE33-2719-466A-9343-89FEA0206698</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Shows you your repos and opens the one you select in Positron.</string>
	<key>uidata</key>
	<dict>
		<key>484DFE33-2719-466A-9343-89FEA0206698</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>D0BB803B-81E9-4702-9DED-DB8C9547D366</key>
		<dict>
			<key>note</key>
			<string>The default repos directory is ~/Repos. If that's different for you, be sure to update it in the workflow variables (button labeled [x] in the top right).</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>ReposDirectory</key>
		<string>~/Repos</string>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
