<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cadnza.russianCopy</string>
	<key>connections</key>
	<dict>
		<key>02996606-FC21-462F-BB12-45AE335A873F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FDA13D9-E352-4960-BA2C-B7E2F5E86874</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FDA13D9-E352-4960-BA2C-B7E2F5E86874</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED8A073B-9FA7-44A8-839A-27BAEE45EFA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED8A073B-9FA7-44A8-839A-27BAEE45EFA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46B90489-FDD9-405A-B728-7A919DE69F09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Copies Russian text to the clipboard</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Russian Copy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>46B90489-FDD9-405A-B728-7A919DE69F09</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>50</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>`</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>02996606-FC21-462F-BB12-45AE335A873F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./main.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8FDA13D9-E352-4960-BA2C-B7E2F5E86874</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>ED8A073B-9FA7-44A8-839A-27BAEE45EFA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Nice little utility for copying Russian text via OCR. Just invoke the keystroke, select your text, and paste. :-)

# Versions

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>02996606-FC21-462F-BB12-45AE335A873F</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>46B90489-FDD9-405A-B728-7A919DE69F09</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>8FDA13D9-E352-4960-BA2C-B7E2F5E86874</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>ED8A073B-9FA7-44A8-839A-27BAEE45EFA8</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable lowercasing</string>
			</dict>
			<key>description</key>
			<string>If checked, everything copied gets lowercased.</string>
			<key>label</key>
			<string>Lowercase</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>lowercase</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://www.github.com/cadnza</string>
</dict>
</plist>
