<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jondayley.alfredBraveBookmarks</string>
	<key>connections</key>
	<dict>
		<key>41439865-33E9-42FA-A7ED-258B8E615E21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79F62384-1338-47D4-B3DC-D55F2F411258</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Opens bookmarks from the Brave browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Brave Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>source main.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Bookmarks...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>41439865-33E9-42FA-A7ED-258B8E615E21</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79F62384-1338-47D4-B3DC-D55F2F411258</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Opens bookmarks from the Brave Browser. It's built to mimic the functionality of the Brave Bookmarks feature, so expect about the same interface with a few concessions.

## Indexing

When using Brave Bookmarks, it's good to keep in mind that it works *from an index*. As it turns out, querying Brave's bookmarks is a rather slow process, especially where we want paths to each bookmark. So when you use the thing for the first time, it will generate an index. This takes anywhere from a couple of seconds to a couple of minutes, depending on your hardware and how many Brave bookmarks you have. **You can leave Alfred while the index is being built.** The process takes place in the background (through `screen` if you're curious), so it won't notice if you come and go while it's building.

When you call Brave Bookmarks (*i.e.* whenever you type `bk` into Alfred), it checks the age of the index. If the index is more than a minute old *and the index isn't already being rebuilt,* it rebuilds the index. This takes just as long as it did the first time, but it happens completely in the background, so you won't notice a thing. And note that while the reindexing process does take time, it's very soft on your processor; you shouldn't notice any kind of performance hit from reindexing.

If you'd like, you can change the default reindexing interval by creating a Workflow Environment Variable called `dbMaxAgeMinutes` and assigning it an integer greater than 0. Instead of rebuilding the index if it's more than a minute old, Brave Bookmarks will rebuild it if it's more than `dbMaxAgeMinutes` minutes old.

## Profiles

By default, Brave Bookmarks only shows bookmarks from the last used Brave profile, so expect bookmarks from the last Brave profile in your user account to display an active browser window. That said, there appears to be a bit of lag on Brave's side between switching profiles and recording the profile switch, so you may have to be patient.

If you'd rather display all bookmarks from all profiles, create a Workflow Environment Variable called `showAllProfiles` and assign it `1`.

## `jq`

`jq` is essential to Brave Bookmarks for parsing Brave's JSON, and unfortunately, it's not included in macOS. So if `which zsh` isn't `/bin/zsh` and you *don't* have `jq` installed through Homebrew, you *may* have a bit of trouble getting Brave Bookmarks to find your `jq` executable. The main issue here is a discrepancy between your opinion on what `$PATH` should look like and Alfred's. I've done my best to control for that and make finding `jq` as seamless as possible--no one likes fighting with dependencies--but there's only so much that can be done. If Brave Bookmarks keeps telling you you're missing `jq` even though you're sure you have it installed, let me know and we'll see what we can do.

Anyway, happy bookmarking!

# Dependencies

(Don't worry; the workflow will let you know if you're missing dependencies.)

- Brave Browser
- `jq`

# Versions

## v1.0.1

- Clean up exit codes

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>41439865-33E9-42FA-A7ED-258B8E615E21</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>79F62384-1338-47D4-B3DC-D55F2F411258</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
