<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cadnza.alfredOpenInWhatsapp</string>
	<key>connections</key>
	<dict>
		<key>5ACC8837-CD6F-47EC-8515-B1BAFD272EC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24D796BB-8584-4E31-A771-5E269CEA041B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>788F2ECD-D7C1-4D79-B578-E22031156676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ACC8837-CD6F-47EC-8515-B1BAFD272EC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E41CA76-84F5-4CB2-A250-30E89F921633</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ACC8837-CD6F-47EC-8515-B1BAFD272EC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Opens contacts and phone numbers in WhatsApp</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in WhatsApp</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>Open in WhatsApp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>9E41CA76-84F5-4CB2-A250-30E89F921633</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://wa.me/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>24D796BB-8584-4E31-A771-5E269CEA041B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\D</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5ACC8837-CD6F-47EC-8515-B1BAFD272EC9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wa</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Open phone number with WhatsApp</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>788F2ECD-D7C1-4D79-B578-E22031156676</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>24D796BB-8584-4E31-A771-5E269CEA041B</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>5ACC8837-CD6F-47EC-8515-B1BAFD272EC9</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>788F2ECD-D7C1-4D79-B578-E22031156676</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>9E41CA76-84F5-4CB2-A250-30E89F921633</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
