<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jondayley.alfredOpenInVScode</string>
	<key>connections</key>
	<dict>
		<key>2D4D86B7-C792-4719-80E2-24636CE39AB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEE5C596-CE3C-4ADB-9432-87409B38AF84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44F767AD-534D-4EED-B2BF-9C8F00A2B717</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D4D86B7-C792-4719-80E2-24636CE39AB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A89A0C04-5705-4C0C-B341-91BD06D47B75</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</key>
		<array/>
		<key>AEE5C596-CE3C-4ADB-9432-87409B38AF84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0BB803B-81E9-4702-9DED-DB8C9547D366</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44F767AD-534D-4EED-B2BF-9C8F00A2B717</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC82745D-E5E3-4698-9D32-F11C00E621E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Lists repos and opens selection in Visual Studio Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Visual Studio Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting workflows…</string>
				<key>script</key>
				<string>newHome=$(echo $HOME | sed 's/\//\\\//g')
AlfredPrefsDirectory=$(echo $AlfredPrefsDirectory | sed 's/^\~/'$newHome'/')
source scriptAlfred.sh $AlfredPrefsDirectory</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AEE5C596-CE3C-4ADB-9432-87409B38AF84</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>AlfredPrefsDirectory</key>
					<string>{var:ReposDirectory}/Alfred.alfredpreferences</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2D4D86B7-C792-4719-80E2-24636CE39AB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting repos…</string>
				<key>script</key>
				<string>source script.sh $ReposDirectory</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script.sh</string>
				<key>subtext</key>
				<string>~/Repos</string>
				<key>title</key>
				<string>Visual Studio Code</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D0BB803B-81E9-4702-9DED-DB8C9547D366</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/code $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Alfred\.alfredpreferences$</string>
						<key>outputlabel</key>
						<string>Alfred</string>
						<key>uid</key>
						<string>A89A0C04-5705-4C0C-B341-91BD06D47B75</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Other</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>44F767AD-534D-4EED-B2BF-9C8F00A2B717</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Open in Visual Studio Code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>EC82745D-E5E3-4698-9D32-F11C00E621E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Very simple: Shows you your repos and opens the one you select in VSCode. If your Alfred preferences directory happens to be a repo (mine does), it offers to open specific workflows as well as the repo as a whole.

# Dependencies

- Visual Studio Code
- A directory for repos

# Versions

## v1.2.1

- Filter contents of repos directory for directories

## v1.2.0

- Open any file or folder in Visual Studio Code via Universal Actions

## v1.1.0

- Alfred file actions on Ctrl

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>2D4D86B7-C792-4719-80E2-24636CE39AB6</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>44F767AD-534D-4EED-B2BF-9C8F00A2B717</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>6F935E0D-533D-4E71-A29C-56D67F8FE1DC</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>AEE5C596-CE3C-4ADB-9432-87409B38AF84</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D0BB803B-81E9-4702-9DED-DB8C9547D366</key>
		<dict>
			<key>note</key>
			<string>The default repos directory is ~/Repos. If that's different for you, be sure to update it in the workflow variables (button labeled [x] in the top right).</string>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>EC82745D-E5E3-4698-9D32-F11C00E621E4</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ReposDirectory</key>
		<string>~/Repos</string>
	</dict>
	<key>version</key>
	<string>1.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
