<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jondayley.alfredThrowWrenchAtiCloud</string>
	<key>connections</key>
	<dict>
		<key>77C8AAC8-6DE1-44CA-9B9E-FAD976347B1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C716B6B5-8CA4-4FF5-B3A0-F4A5D7858DAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C716B6B5-8CA4-4FF5-B3A0-F4A5D7858DAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F8043C4-1D8A-451F-BB08-6B7A89C26AC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Throws a wrench at iCloud</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Throw a wrench at iCloud</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C716B6B5-8CA4-4FF5-B3A0-F4A5D7858DAE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>🤷‍♂️</string>
				<key>title</key>
				<string>🔧🔧🔧</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F8043C4-1D8A-451F-BB08-6B7A89C26AC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wrench</string>
				<key>subtext</key>
				<string>It might fix something 🤷‍♂️</string>
				<key>text</key>
				<string>Throw a wrench at iCloud</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77C8AAC8-6DE1-44CA-9B9E-FAD976347B1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Throws a wrench at iCloud by running `killall bird`. Or set `hardcore` to `1` to do other stuff too.

# Versions

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>5F8043C4-1D8A-451F-BB08-6B7A89C26AC9</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>77C8AAC8-6DE1-44CA-9B9E-FAD976347B1F</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>C716B6B5-8CA4-4FF5-B3A0-F4A5D7858DAE</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>hardcore</key>
		<string>1</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
