<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cadnza.littleinterestcalculator</string>
	<key>connections</key>
	<dict>
		<key>085EA1C7-8FAF-4B10-9949-00F700542789</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A1768AB-ABAC-4C91-B407-678B8016F199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0960F40A-EA31-42C6-A0D2-16B68C299C45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3841679-8915-45DA-B226-192FD7698CCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14C0036D-B693-4376-A997-C7DC0D5F03B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44D96BC0-F981-4E94-8AA0-7AF449CD5190</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BB880E8-BDB1-4398-BBFF-E48E7081AB3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3E75DA8-F6EE-4AC3-91D7-096DD603F0CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A7B9364-EB21-4CB2-8FF1-52F75BFC598D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97AE4765-FC3F-4DBB-A0F6-949531CDA344</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44D96BC0-F981-4E94-8AA0-7AF449CD5190</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C17154C-9D0B-4123-B924-7FECE2B93E9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A1768AB-ABAC-4C91-B407-678B8016F199</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB880E8-BDB1-4398-BBFF-E48E7081AB3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5ADF769C-A3FA-474A-ACA4-DE28B12C03C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDE7300F-8068-452D-B8D2-CEA5F59D13B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76F54574-E63E-42E2-9920-FA8D4F3871E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C0036D-B693-4376-A997-C7DC0D5F03B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C17154C-9D0B-4123-B924-7FECE2B93E9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94ACD450-5B88-4D28-A163-72D909ED045E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>867DFFFF-1454-422E-812D-B7BF39AF6B54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76F54574-E63E-42E2-9920-FA8D4F3871E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94ACD450-5B88-4D28-A163-72D909ED045E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ADF769C-A3FA-474A-ACA4-DE28B12C03C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96CDDC59-8EF6-4E4E-B5C2-A78715E9CAEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8A6D361-D0B9-4878-AFA6-D16BFF142B3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97AE4765-FC3F-4DBB-A0F6-949531CDA344</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCBC3242-263A-4C4F-B349-BE71352DB9D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA797936-801F-48F5-A588-23C0B63B532F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>085EA1C7-8FAF-4B10-9949-00F700542789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3E75DA8-F6EE-4AC3-91D7-096DD603F0CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>867DFFFF-1454-422E-812D-B7BF39AF6B54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3841679-8915-45DA-B226-192FD7698CCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F68DE5A4-0903-4EE1-B5CC-51248F982E9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8A6D361-D0B9-4878-AFA6-D16BFF142B3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F145505E-389F-4365-B60F-45D124E0F30F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>03B1192F-AD56-4C5E-8BE3-936B96D36E6A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA797936-801F-48F5-A588-23C0B63B532F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCBC3242-263A-4C4F-B349-BE71352DB9D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96CDDC59-8EF6-4E4E-B5C2-A78715E9CAEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE9722F8-A410-4B18-AA48-2D70C4BD3CE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9FEB208-5DE3-4F01-A16F-8A4C46BC7875</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9FEB208-5DE3-4F01-A16F-8A4C46BC7875</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0960F40A-EA31-42C6-A0D2-16B68C299C45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F145505E-389F-4365-B60F-45D124E0F30F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA797936-801F-48F5-A588-23C0B63B532F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F68DE5A4-0903-4EE1-B5CC-51248F982E9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A7B9364-EB21-4CB2-8FF1-52F75BFC598D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jon Dayley</string>
	<key>description</key>
	<string>Does one-off interest calculations</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Little Interest Calculator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>li</string>
				<key>subtext</key>
				<string>Does one-off interest calculations</string>
				<key>text</key>
				<string>Little interest</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DE9722F8-A410-4B18-AA48-2D70C4BD3CE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>refreshcache.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E9FEB208-5DE3-4F01-A16F-8A4C46BC7875</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>asdf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Parsing…</string>
				<key>script</key>
				<string>./validatenumber.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>validatenumber.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F68DE5A4-0903-4EE1-B5CC-51248F982E9D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>getsavedvar.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3841679-8915-45DA-B226-192FD7698CCA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>p</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3A7B9364-EB21-4CB2-8FF1-52F75BFC598D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>Principal amount</string>
					<key>prompt</key>
					<string>Please enter an amount for the principal.</string>
					<key>ptrn</key>
					<string>^([0-9]+)?(\.[0-9][0-9])?$</string>
					<key>showpct</key>
					<string>0</string>
					<key>varname</key>
					<string>p</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0960F40A-EA31-42C6-A0D2-16B68C299C45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>getsavedvar.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DCBC3242-263A-4C4F-B349-BE71352DB9D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./percenttodecimal.R $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F145505E-389F-4365-B60F-45D124E0F30F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Parsing…</string>
				<key>script</key>
				<string>./validatenumber.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>validatenumber.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>96CDDC59-8EF6-4E4E-B5C2-A78715E9CAEA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>%</string>
						<key>outputlabel</key>
						<string>Percent</string>
						<key>uid</key>
						<string>03B1192F-AD56-4C5E-8BE3-936B96D36E6A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Decimal</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D8A6D361-D0B9-4878-AFA6-D16BFF142B3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>r</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AA797936-801F-48F5-A588-23C0B63B532F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>Interest rate</string>
					<key>prompt</key>
					<string>Please enter an interest rate.</string>
					<key>ptrn</key>
					<string>^((0?\.[0-9]+)|([0-9]?[0-9]?(\.[0-9]+)?%))$</string>
					<key>showpct</key>
					<string>1</string>
					<key>varname</key>
					<string>r</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>97AE4765-FC3F-4DBB-A0F6-949531CDA344</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Parsing…</string>
				<key>script</key>
				<string>./validatenumber.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>validatenumber.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2BB880E8-BDB1-4398-BBFF-E48E7081AB3F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>getsavedvar.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A1768AB-ABAC-4C91-B407-678B8016F199</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>t</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B3E75DA8-F6EE-4AC3-91D7-096DD603F0CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>Number of compounding periods</string>
					<key>prompt</key>
					<string>Please enter the number of compounding periods.</string>
					<key>ptrn</key>
					<string>^([0-9]+)?(\.[0-9]+)?$</string>
					<key>showpct</key>
					<string>0</string>
					<key>varname</key>
					<string>t</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>085EA1C7-8FAF-4B10-9949-00F700542789</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>getsavedvar.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76F54574-E63E-42E2-9920-FA8D4F3871E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Parsing…</string>
				<key>script</key>
				<string>./validatenumber.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>validatenumber.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14C0036D-B693-4376-A997-C7DC0D5F03B5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>n</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>44D96BC0-F981-4E94-8AA0-7AF449CD5190</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>Number of times compounded per period (C for continuous)</string>
					<key>prompt</key>
					<string>Please enter the number of times interest compounds per period.</string>
					<key>ptrn</key>
					<string>^([1-9][0-9]*|[Cc])$</string>
					<key>showpct</key>
					<string>0</string>
					<key>varname</key>
					<string>n</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>867DFFFF-1454-422E-812D-B7BF39AF6B54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>refreshcache.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>94ACD450-5B88-4D28-A163-72D909ED045E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Calculating…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>calculate.R</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5ADF769C-A3FA-474A-ACA4-DE28B12C03C8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>savedata.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C17154C-9D0B-4123-B924-7FECE2B93E9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>DDE7300F-8068-452D-B8D2-CEA5F59D13B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

Calculates compound interest. Awfully handy and very straightforward.

# Dependencies

- R
- jq

# Versions

## v1.0.0

- First release</string>
	<key>uidata</key>
	<dict>
		<key>085EA1C7-8FAF-4B10-9949-00F700542789</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>0960F40A-EA31-42C6-A0D2-16B68C299C45</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>14C0036D-B693-4376-A997-C7DC0D5F03B5</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>2BB880E8-BDB1-4398-BBFF-E48E7081AB3F</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>3A7B9364-EB21-4CB2-8FF1-52F75BFC598D</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>44D96BC0-F981-4E94-8AA0-7AF449CD5190</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>5A1768AB-ABAC-4C91-B407-678B8016F199</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>5ADF769C-A3FA-474A-ACA4-DE28B12C03C8</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>76F54574-E63E-42E2-9920-FA8D4F3871E4</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>7C17154C-9D0B-4123-B924-7FECE2B93E9A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>867DFFFF-1454-422E-812D-B7BF39AF6B54</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>94ACD450-5B88-4D28-A163-72D909ED045E</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>96CDDC59-8EF6-4E4E-B5C2-A78715E9CAEA</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>97AE4765-FC3F-4DBB-A0F6-949531CDA344</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>AA797936-801F-48F5-A588-23C0B63B532F</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>B3E75DA8-F6EE-4AC3-91D7-096DD603F0CC</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>C3841679-8915-45DA-B226-192FD7698CCA</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>D8A6D361-D0B9-4878-AFA6-D16BFF142B3B</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>DCBC3242-263A-4C4F-B349-BE71352DB9D0</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>DDE7300F-8068-452D-B8D2-CEA5F59D13B5</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>DE9722F8-A410-4B18-AA48-2D70C4BD3CE0</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>E9FEB208-5DE3-4F01-A16F-8A4C46BC7875</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>F145505E-389F-4365-B60F-45D124E0F30F</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>F68DE5A4-0903-4EE1-B5CC-51248F982E9D</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>cachefilename</key>
		<string>data.json</string>
		<key>cachelifespanminutes</key>
		<string>5</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cadnza</string>
</dict>
</plist>
